{% extends "base.jinja" %}
{% block title %}Home{% endblock %}
{% block content %}
    {% include "filters.jinja"%}
    {% include "table.jinja"%} 
    <section id="content" hx-get="/table" hx-target="this" hx-swap="innerHTML" hx-trigger="load"></section>
{% endblock %}
