<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {% for item in items %}
            <td>{{ item }}</td>
        {% endfor %}
        </tr>
    </tbody>
</table>
